MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=finanzas
MYSQL_USER=alumno
MYSQL_PASSWORD=alumno123
MYSQL_HOST_PORT=3308

MONGO_ROOT_USERNAME=admin
MONGO_ROOT_PASSWORD=admin123
MONGO_DATABASE=finanzas_nosql
MONGO_COLLECTION=movimientos
MONGO_HOST_PORT=27017

SCAN_INTERVAL=5
JUPYTER_TOKEN=bigdata
JUPYTER_HOST_PORT=8888
